<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation" class="active"><a href="/beers">Beers</a></li>
    <li role="presentation"><a href="/brewery">Breweries</a></li>
    <li role="presentation"><a href="/style">Styles</a></li>
    <li role="presentation"><a href="/flavor">Flavors</a></li>
</ul>